.icons{
    align-items: center;
    display: flex;
    justify-content:center;
    gap: 2em;
}
.main-footer{
    background-color: rgba(105, 188, 226, 0.585);
    position:fixed;
    left:0;
    bottom:0;
    right:0;
}