.icons{
    align-items: center;
    display: flex;
    justify-content:center;
    gap: 2em;
}
.main-footer{
    background-color: rgb(180, 214, 231);
    position:relative;
}
.footer-size{
    height:10em;
    bottom:0px;
    width:100%;
}
