.text-color-home{
    color:  rgba(53, 81, 94, 0.932);
    height: 7em;
    margin-right: -15em;
}

.carrusel2{
    height: 8em;
    color:  rgba(53, 81, 94, 0.932);
    margin-left: -18em;
}
.carrusel-2p{
    color:  rgba(11, 11, 11, 0.932);
}
.carrusel-3p{
    color:  rgba(9, 9, 9, 0.932);
    font-weight: bold;
   
}